<ion-content class="ion-padding ion-text-center">
  <ion-text>
    <h1>Bienvenido a tu App de Ejercicios</h1>
  </ion-text>

  <img src="assets/logo.png" alt="Gimnasio Imagen" style="max-width: 100%; height: auto; margin-top: 10px;">

  <ion-text>
    <h2>Selecciona el tipo de ejercicio que quieres realizar:</h2>
  </ion-text>

  <div style="margin-top: 40px;"></div>

  <ion-button expand="full" (click)="navigateToMusculacion()">Musculación</ion-button>

  <div style="margin-top: 10px;"></div>

  <ion-button expand="full" (click)="navigateToCardio()">Cardio</ion-button>
</ion-content>

